{% extends 'pizza/main.html' %}
{% load static %}

{% block content %}

  <div class="container mt-4">
    <div class="row justify-content-center align-items-center mb-4">
      <div class="col-md-6">
        <div class="text-center">
          <img src="{{ restaurant.image.url }}" alt="Image" class="img-fluid rounded-circle image-zoom">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-transparent">
          <div class="card-body">
            <h2 class="text-center mb-4 text-white">О нас</h2>
            <p class="text-center text-white">{{ restaurant.description }}</p>
            <p class="text-center text-white font-weight-bold">Адрес: {{ restaurant.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .container {
      max-width: 1500px;
      margin: 80px auto;
    }

    .rounded-circle {
      width: 700px;
      height: 700px;
      object-fit: cover;
      margin: 0 auto;
    }

    .card {
      border: none;
      box-shadow: none;
    }

    h2 {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      line-height: 1.5;
    }

    .text-white {
      color: #fff;
    }
  </style>
{% endblock %}